# FastAPI
fastapi==0.98.0
uvicorn==0.22.0
# Lambda×FastAPI
mangum==0.17.0
# DI(依存性注入)
injector==0.20.1
di4injector==0.0.1
# Selenium
selenium==4.10.0
undetected-chromedriver==3.5.3
webdriver-manager==3.8.6
# BeautifulSoup
beautifulsoup4==4.12.2
lxml==4.9.2
# ログ出力
slf4py==0.0.2
# キャッシュ
cachetools==5.3.1
# DynamoDB
pynamodb==5.2.1
# ドメイン
tldextract==3.3.1